/* --- COMPONENT STYLE --- */

/* === SOCIAL NETWORK === */
.web-site-social-network-box-component {
    color: var(--white);
}
.web-site-social-network-link:link,
.web-site-social-network-link:active {
    padding: .5em 1em;
    font-weight: 700;
    font-size: .8em;
    color: inherit;
    text-transform: uppercase;
    transition: var(--trans-03);
}
.face:hover, 
.face:active,
.insta:hover, 
.insta:active,
.link:hover, 
.link:active
{
    letter-spacing: 1px;
}
.face:hover,
.face:active {
    background-color: rgb(66,103,178);
}
.insta:hover,
.insta:active {
    background: linear-gradient(to right bottom, rgb(64,93,230), rgb(88,81,219), rgb(131,58,180), rgb(193,53,132), rgb(225,48,108), rgb(253,29,29), rgb(245,96,64), rgb(247,119,55), rgb(252,175,69), rgb(255,220,128));
}
.link:hover,
.link:active {
    background-color: rgb(40,103,178);
}



/* === LOGO === */
.web-site-logo {
    position: relative;
    height: 60px;
    width: 100px;
}



/* === SECTION HEADING === */
.web-site-section-heading-component {
    font-size: 3em;
    font-weight: 700;
    color: var(--dark-color);
    letter-spacing: 2px;
    line-height: 1;
}
.web-site-section-heading-component::after {
    content: '';
    display: block;
    height: 8px;
    width: 60px;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 2.5em;
    background-color: var(--green);
}



/* === CARD ARTICLE === */
.web-site-card-article-component {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.web-site-card-article-footer-component {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
    padding: 5px 10px;
    background-color: rgba(255, 255, 255, .7);
    z-index: 100;
}

.web-site-card-article-nane-component {
    font-size: 1.3em;
    line-height: 1;
    letter-spacing: 2px;
}

.web-site-card-article-price-component {
    display: block;
    margin-top: 5px;
    font-size: .8em;
    color: var(--green);
}

.web-site-article-read-more-component:link,
.web-site-article-read-more-component:visited {
    padding: .5em 1em;
    border: 1px solid var(--green);
    border-radius: 5px;
    font-size: 1.1em;
    color: var(--white);
    background-color: var(--green);
    transition: var(--trans-05);
}

.web-site-article-read-more-component:hover,
.best-sellers .article-btn-read-more.is-active {
    color: var(--dark);
    background-color: transparent;
}


.b {
    border: 2px solid var(--dark);
}