
@media only screen and (min-width: 280px) and (max-width: 1024px) {
    .blog .article-content {
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 30px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 768px) {
    
    .blog .article-content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(350px, auto));
        grid-template-areas: 
        "article-img"
        "article-content"
        ;
        grid-row-gap: 40px;
    }

    .blog .article-body {
        grid-area: article-content;
        padding: 0;
    }

    .article-img-box {  
        grid-area: article-img;
    }


}