/* === HEADER MEDIA === */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    .header {
        min-height: 80vh;
    }

    .header-content-box {
        top: 50%;
        transform: translate(-50%, -50%);
    }
}

@media only screen and (min-width: 375px) and (max-width: 992px) {
    .header-content-baseline {
        width: 90%;
        margin-left: auto;
    }

    .header-see-our-plants-btn {
        margin-left: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .header {
        min-height: 90vh;
    }
    
}

@media only screen and (min-width: 280px) and (max-width: 768px),
        only screen and (max-width: 280px) {

    .header-top {
        position: relative;
        width: 100%;
        min-height: 100px; 
    }

    .header-top .web-site-wrap:nth-of-type(1) {
        justify-content: center;
    }

    .header-top .web-site-wrap:nth-of-type(2) {
        grid-template-columns: 80%;
        flex-flow: column wrap;
    }

    .header-top .web-site-wrap:nth-of-type(2) .web-site-social-network-box-component {
        display: flex;
        flex-flow: column wrap;
        color: var(--dark-color);
        margin-left: auto;
    }

    .header-top .web-site-wrap:nth-of-type(2) .web-site-social-network-link {
        margin: 8px 0;
    }

    .header-nav-list {
        flex-direction: column;
        align-items: flex-start;

        position: absolute;
        top: 0;
        left: -15px;
        transform: translateX(-100%);
        transition: var(--trans-1);
        transform-origin: left;

        padding: 120px 2em 50px;
        width: 60%;
        background-color: var(--bg);

        z-index: 1;
    }

    ul.slide {
        position: absolute;
        top: 0;
        left: -15px;
        transform: translateX(0);
        transition: var(--trans-1);
        transform-origin: left;
    }

    .header-nav-list .user-profil-box {
        display: block;
    }

    .settings .user-profil-box,
    .settings .setting-btn {
        display: none;
    }

    .header-nav-link:link,
    .header-nav-link:visited{
        padding: 1rem 0;
        font-size: 1.0rem;
        color: var(--dark);
    }

    .menu-button {
        display: block;
    }

}

@media only screen and (max-width: 550px) {
    .header {
        min-height: 100vh;
    }

    .header-top .web-site-wrap:nth-of-type(1) .web-site-social-network-box-component {
        display: none;
    }

    .vertical-bar {
        margin-left: auto;
    }

    .header-nav-list {
        width: 80%;
    }

    .header-content-box {
        transform: translate(-50%, 150px);
    }


    .header-content-box .web-site-wrap {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
    }

    .header-content-box .baseline-box {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
        margin-bottom: 50px;
    }

    .header-content-box .header-content-img-box {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .header-content-baseline {
        width: 100%;
        margin-left: 0;
    }

    .header-see-our-plants-btn {
        margin-left: 0;
    }

}

@media only screen and (max-width: 280px) {

    .header-content-baseline {
        font-size: 40px;
    }
}