/* === OUR PLANTS RESPONSIVE === */

@media only screen and (min-width: 375px) and (max-width: 992px) {
    .our-plants .web-site-wrap {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, minmax(200px, auto));
    }

    .our-plants .article-card:nth-child(1) {
        grid-row: 1 / span 2;
        grid-column: 1 / span 1;
    }

    .our-plants .article-card:nth-child(2) {
        grid-row: 1 / span 2;
        grid-column: 2 / span 1;
    }

    .our-plants .article-card:nth-child(3) {
        grid-row: 3 / span 2;
        grid-column: 1 / span 1;
    }

    .our-plants .article-card:nth-child(4) {
        grid-row: 3 / span 2;
        grid-column: 2 / span 1;
    }

    .our-plants .article-card:nth-child(5) {
        grid-row: 5 / span 2;
        grid-column: 1 / span 1;
    }

    .our-plants .article-card:nth-child(6) {
        grid-row: 5 / span 2;
        grid-column:  2 / span 1;
    }
}



@media only screen and (max-width: 375px) {
    .our-plants .web-site-wrap {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, minmax(400px, auto));
    }

    .our-plants .article-card:nth-child(1) {
        grid-row: 1 / span 1;
        grid-column: 1 / span 1;
    }

    .our-plants .article-card:nth-child(2) {
        grid-row: 2 / span 1;
        grid-column: 1 / span 1;
    }

    .our-plants .article-card:nth-child(3) {
        grid-row: 3 / span 1;
        grid-column: 1 / span 1;
    }

    .our-plants .article-card:nth-child(4) {
        grid-row: 4 / span 1;
        grid-column: 1 / span 1;
    }

    .our-plants .article-card:nth-child(5) {
        grid-row: 5 / span 1;
        grid-column: 1 / span 1;
    }

    .our-plants .article-card:nth-child(6) {
        grid-row: 6 / span 1;
        grid-column:  1 / span 1;
    }
    
}