/* === TESTIMONY RESPONSIVE === */

@media only screen and (min-width: 280px) and (max-width: 768px) {

    .testimony .web-site-wrap {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: minmax(400px, auto);
        grid-template-areas: 
            "t-card1"
            "t-card2"
            "t-card3"
        ;
        grid-row-gap: 70px;
    }

    .testimony-card:first-child {
        grid-area: t-card1;
    }
    .testimony-card:first-child(2) {
        grid-area: t-card2;
    }
    .testimony-card:last-child {
        grid-area: t-card3;
    }

}

@media only screen and (max-width: 280px) {
    .testimony-heading {
        font-size: 2.5em;
    }
}
