/* === HEADER MEDIA === */

@import 'main/_@header.css';
@import 'main/_@banner-info.css';
@import 'main/_@best-sellers.css';
@import 'main/_@our-plants.css';
@import 'main/_@footer.css';




/* @media only screen and (min-width: 768px) and (max-width: 1024px) {
    
} */

/* @media only screen and (min-width: 375px) and (max-width: 1024px) {

} */

/* @media only screen and (min-width: 375px) and (max-width: 768px) {

} */

/* @media only screen and (max-width: 375px) {
    
} */