.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    z-index: 0;
}

.header .web-site-container {
    position: relative;
    margin: 0 auto;
}

.header-top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 30px 0;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "top-nav-bar"
    "nav-bar"
    ;
    background-color: var(--dark-color);
    transition: var(--trans-1);
    z-index: 10000;
}

#logo {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    z-index: 1000;
}


/* === TOP NAV BAR === */
.header-top .web-site-wrap:nth-of-type(1) {
    grid-area: top-nav-bar;
    padding: 1rem 0;
    flex-flow: row wrap;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    color: var(--white-color);
}

.vertical-bar {
    display: block;
    width: 2px;
    height: 30px;
    margin: 0 5px;
    background-color: var(--green-color);
}

.contact-link:link {
    padding: .5em 1em;
    border-radius: 3px;
    font-size: .8em;
    font-weight: 600;
    text-transform: uppercase;
    color: inherit;
    transition: var(--trans-03);
}
.contact-link:hover,
.contact-link:active,
.contact-link.is-active {
    background-color: var(--green-color);
}


/* === HEADER NAV BAR === */
.header-top .web-site-wrap:nth-of-type(2) {
    grid-area: nav-bar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    padding: 30px 0;
}

.header-top .web-site-wrap:nth-of-type(2) .web-site-social-network-box-component {
    display: none;
}

.header-nav-bar {
    margin: auto;
}

.header-nav-list {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.header-nav-list .user-profil-box {
    display: none;
}

.header-nav-link:link,
.header-nav-link:visited{
    padding: .5em 1.5em;
    font-family: var(--head-police);
    font-size: .7em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--white-color);
    transition: var(--trans-03);
}

.header-nav-link:hover,
.header-nav-link:active {
    color: var(--green-color);
}

.user-profil-box {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--white-color);
}

.settings {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.setting-btn {
    padding: .25em;
    cursor: pointer;
}

.setting-btn .setting {
    display: inline-block;
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: var(--white-color);
}

.menu-button {
    margin-left: 1rem;
    display: none;
}

.header-top.stiky {
    position: fixed;
    top: 0;
    transition: var(--trans-1);
    z-index: 10000;
}


/* === HEADER CONTENT === */

.header-content-box {
    position: absolute;
    left: 50%;
    width: 100%;
    transform: translate(-50%, 230px);
}

.header-content-box .web-site-wrap {
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-template-rows: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
}

.header-content-box .baseline-box {
    grid-row: 1 / span 1;
    grid-column: 1 / span 1;
}

.header-content-box .header-content-img-box {
    grid-row: 1 / span 1;
    grid-column: 2 / span 1;
}

.header-content-baseline {
    font-family: var(--head-police);
    font-size: 70px;
    color: var(--dark-color);
    line-height: 1;
    margin-bottom: 30px;
}

.header-content-baseline span {
    font-size: 1.2em;
    text-transform: uppercase;
    color: var(--green-color);
}

.header-see-our-plants-btn {
    position: relative;
    padding: .8em;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 1.0em;
    font-weight: 700;
    text-align: center;
    color: var(--white-color);
    background-color: var(--green-color);
    transition: var(--trans-03);
    z-index: 1000;
}

.header-see-our-plants-btn:hover {
    letter-spacing: 1px;
}

.header-content-img-box {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}
