.our-plants-heading {
    margin-bottom: 40px;
}

.our-plants .web-site-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, minmax(300px, auto));
    grid-gap: 10px;

    align-items: center;
}

.our-plants .article-card:nth-child(1) {
    grid-row: 1 / span 2;
    grid-column: 1 / span 2;
    background: url('../image/nos_plantes/1.jpg') center center / cover no-repeat;
}

.our-plants .article-card:nth-child(2) {
    grid-row: 1 / span 1;
    grid-column: 3 / span 2;
    background: url('../image/nos_plantes/2.jpg') center center / cover no-repeat;
}

.our-plants .article-card:nth-child(3) {
    grid-row: 2 / span 1;
    grid-column: 3 / span 2;
    background: url('../image/nos_plantes/3.jpg') center center / cover no-repeat;
}

.our-plants .article-card:nth-child(4) {
    grid-row: 3 / span 2;
    grid-column: 1 / span 1;
    background: url('../image/nos_plantes/4.jpg') center center / cover no-repeat;
}

.our-plants .article-card:nth-child(5) {
    grid-row: 3 / span 2;
    grid-column: 2 / span 2;
    background: url('../image/nos_plantes/5.jpg') center center / cover no-repeat;
}

.our-plants .article-card:nth-child(6) {
    grid-row: 3 / span 2;
    grid-column:  4 / span 1;
    background: url('../image/nos_plantes/6.jpg') center center / cover no-repeat;
}

